body {
    /* background: rbg(128, 71, 94); */
    background: linear-gradient(90deg, rgb(88, 6, 126) 0%, rgb(3, 56, 105) 100%);
    /*background-size: 100% 250%;*/
    background-image: url('./images/gradient-violet-bg.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
}

#header-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    position:fixed;
    left:0;
    right:0;
    top: 0;
    display: block;
    background-color: rgb(25, 117, 110);
    opacity: 0.5; 
    padding-top: 10px;
}

/* transparent header scroll??? */
/* #header-container{
    position: fixed;
    /* flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0; 
    z-index: 1000;
    height: 80px;
    width: 100%; 
    background: rgba(25, 117, 110,0.25);
    padding: 18px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }
  
  .active {
    background-color: rgba(25, 117, 110,0.8);
  } */


#logo {
    z-index: 5;
    width: 2px;
    height: 10px;
    margin-left: 60px;
    opacity: 1;
}


.navbar {
    display: flex;
    /* position: relative; */
    top: 0;
    z-index: 5;
    /*flex-direction: row;*/
    justify-content: flex-end;
    background-color: rgb(255.255.255, 0.15);
    margin-right: 60px;
}

.navbar a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 20px;
    opacity: 1;
    text-decoration: none;
}



#button {
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 20px;
    padding: 10px;
}


/* .header-bg {
    box-sizing: border-box;
    position: fixed; 
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 0;
    height: 80px;
    background-color: rgb(25, 117, 110);
    opacity: .4;
    padding: 20px;
} */

.hero-container{
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
    }

.hero-container img{
    max-width: 50%;
}

.hero-container h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25em;
    margin-bottom: 5px;
}

.hero-container p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 45%;
    margin-bottom: 5px;
}

.hero-container button {
    background-color: #fe9000;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 3px;
    transition: transform .2s ease;
    margin: 30px 0 80px 0;
}
    
.hero-container button:hover { 
    transform: scale(1.02);
}


.featured-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
    /* max-width: 100%; */
    align-items: center;
    /* margin: auto; */
    /* margin-bottom: 100px; */
    padding: 30px;
}

.featured-container h2 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 50px 0 15px 0;
}

.logos-container {
    /* display: grid;
    grid-auto-columns: 2fr; */
   
    flex-direction: column;
    flex-basis: auto;
    /* justify-content: space-around; */
    flex-wrap: nowrap;
    max-width: 70%;
    align-items: center;
    align-self: center;
    margin: 20px 0 10px 0;
}


.logos-container a img{
    padding: 10px;
    margin: 0 20px 50px 0;
    justify-content: space-between;
}

.featured-container p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
    margin-top: 0px;
}

.credit {
    position: relative;
    left: 250px;
    top: 10px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    margin: 0 0 70px 0;
}


.kast-container {
    box-sizing: border-box;
    /* background: linear-gradient(90deg, rgb(88, 6, 126) 0%, rgb(3, 56, 105) 100%); */
    /*background-size: 100% 250%;*/
   
    /* background-image: url('./images/gradient-violet-bg.jpg'); */
    background-color: rgb(17, 156, 145);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 40px 0 80px 0;
}

.kast-container h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25em;
    margin-top: 40px;
}

.kast-container p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 45%;

}

.kast-container button {
    background-color: #fe9000;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 3px;
    transition: transform .2s ease;

}
    
.kast-container button:hover { 
    transform: scale(1.02);
}